{%extends 'header.html' %}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn01.jotfor.ms/static/formCss.css?3.3.41113" rel="stylesheet" type="text/css" />
<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/nova.css?3.3.41113" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/themes/CSS/566a91c2977cdfcd478b4567.css?v=3.3.41113&themeRevisionID=642aed92326239083fe53f08"/>
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/css/styles/payment/payment_feature.css?3.3.41113" />
    <title>Abstrakt</title>
    <link rel="stylesheet" href="{% static 'css/abstract.sub.css' %}">
    <link rel="stylesheet" href="{%static './abstract.sub.css' %}">
</head>
<body>

    
       <section class="ich">
    
        <span class="heber">
            <h1 class="asd">Abstrak</h1>
            <h1 class="xbzibit">Xəbərlər</h1>
        </span>

        </section>


       <section class="gangor">

        

    <form class="jotform-form" action="https://submit.jotform.com/submit/231063525729456" method="post" name="form_231063525729456" id="231063525729456" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231063525729456" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
        <div role="main" class="form-all">
          <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
              <div class="form-header-group  header-defecto">
                <div class="header-text httal htvam">
                  <h2 id="header_1" class="form-header" data-component="header">Formulario de ejemplo</h2>
                </div>
              </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_3"><label class="form-label form-label-left form-label-auto" id="label_3" for="input_3"> Cuadro de texto<span class="form-required">*</span> </label>
              <div id="cid_3" class="form-input jf-required"> <input type="text" id="input_3" name="q3_cuadroDe" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_3" required="" /> </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_38"><label class="form-label form-label-left form-label-auto" id="label_38" for="input_38"> Введите вопрос<span class="form-required">*</span> </label>
              <div id="cid_38" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_38" name="q38_input38" style="width:150px" data-component="dropdown" required="" aria-label="Введите вопрос">
                  <option value="">Пожалуйста, Выберите</option>
                  <option value="Opción 1 ">Opción 1 </option>
                  <option value=" Opción 2 "> Opción 2 </option>
                  <option value=" Opción 3"> Opción 3</option>
                </select> </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_39"><label class="form-label form-label-left form-label-auto" id="label_39" for="input_39"> Введите вопрос<span class="form-required">*</span> </label>
              <div id="cid_39" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_39" name="q39_input39" style="width:150px" data-component="dropdown" required="" aria-label="Введите вопрос">
                  <option value="">Пожалуйста, Выберите</option>
                  <option value="Opción 1 ">Opción 1 </option>
                  <option value=" Opción 2 "> Opción 2 </option>
                  <option value=" Opción 3"> Opción 3</option>
                </select> </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_37"><label class="form-label form-label-left form-label-auto" id="label_37" for="input_37"> Введите вопрос<span class="form-required">*</span> </label>
              <div id="cid_37" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_37" name="q37_input37" style="width:150px" data-component="dropdown" required="" aria-label="Введите вопрос">
                  <option value="">Пожалуйста, Выберите</option>
                  <option value="Opción 1 ">Opción 1 </option>
                  <option value=" Opción 2 "> Opción 2 </option>
                  <option value=" Opción 3"> Opción 3</option>
                </select> </div>
            </li>
            <li class="form-line jf-required" data-type="control_dropdown" id="id_5"><label class="form-label form-label-left form-label-auto" id="label_5" for="input_5"> Menú desplegable<span class="form-required">*</span> </label>
              <div id="cid_5" class="form-input jf-required"> <select class="form-dropdown validate[required]" id="input_5" name="q5_menuDesplegable" style="max-width: 551px;" data-component="dropdown" required="" aria-label="Menú desplegable">
                  <option value="">Пожалуйста, Выберите</option>
                  <option value="Opción 1 ">Opción 1 </option>
                  <option value=" Opción 2 "> Opción 2 </option>
                  <option value=" Opción 3"> Opción 3</option>
                </select> </div>
            </li>
            <li id="cid_40" class="form-input-wide" data-type="control_head">
              <div class="form-header-group  header-default">
                <div class="header-text httal htvam">
                  <h2 id="header_40" class="form-header" data-component="header">Заголовок</h2>
                </div>
              </div>
            </li>
            <li class="form-line" data-type="control_radio" id="id_41"><label class="form-label form-label-left form-label-auto" id="label_41" for="input_41"> </label>
              <div id="cid_41" class="form-input">
                <div class="form-single-column" role="group" aria-labelledby="label_41" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_41" class="form-radio" id="input_41_0" name="q41_input41" value="Введите вариант 1" /><label id="label_input_41_0" for="input_41_0">Введите вариант 1</label></span></div>
              </div>
            </li>
            <li class="form-line jf-required" data-type="control_textbox" id="id_42"><label class="form-label form-label-left form-label-auto" id="label_42" for="input_42"> Cuadro de texto<span class="form-required">*</span> </label>
              <div id="cid_42" class="form-input jf-required"> <input type="text" id="input_42" name="q42_cuadroDe42" data-type="input-textbox" class="form-textbox validate[required]" data-defaultvalue="" size="20" value="" placeholder=" " data-component="textbox" aria-labelledby="label_42" required="" /> </div>
            </li>
            <li id="cid_43" class="form-input-wide" data-type="control_head">
              <div class="form-header-group  header-default">
                <div class="header-text httal htvam">
                  <h2 id="header_43" class="form-header" data-component="header">Заголовок</h2>
                </div>
              </div>
            </li>
            <li class="form-line" data-type="control_radio" id="id_44"><label class="form-label form-label-left form-label-auto" id="label_44" for="input_44"> </label>
              <div id="cid_44" class="form-input">
                <div class="form-single-column" role="group" aria-labelledby="label_44" data-component="radio"><span class="form-radio-item" style="clear:left"><span class="dragger-item"></span><input type="radio" aria-describedby="label_44" class="form-radio" id="input_44_0" name="q44_input44" value="Введите вариант 1" /><label id="label_input_44_0" for="input_44_0">Введите вариант 1</label></span></div>
              </div>
            </li>
            <li id="cid_45" class="form-input-wide" data-type="control_head">
              <div class="form-header-group  header-default">
                <div class="header-text httal htvam">
                  <h2 id="header_45" class="form-header" data-component="header">Заголовок</h2>
                </div>
              </div>
            </li>
       
          </div>
    </form>


    
    <div class="cebert">

      <section class="resimler getto">
          <a href="" class="samka">
          <img src="images/Rectangle 2471.png" alt="">
               <span>
                  <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
                  <p>12.12.2019</p>
               </span>
          </a>
      </section>
   
      <hr class="welldone">
      <section class="resimler">
          <a href="" class="samka">
          <img src="images/Rectangle 2471.png" alt="">
               <span>
                  <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
                  <p>12.12.2019</p>
               </span>
          </a>
      </section>
      <hr class="welldone">
      <section class="resimler">
          <a href="" class="samka">
          <img src="images/Rectangle 2471.png" alt="">
               <span>
                  <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
                  <p>12.12.2019</p>
               </span>
          </a>
      </section>
  <hr class="welldone">
  <section class="resimler">
      <a href="" class="samka">
      <img src="images/Rectangle 2471.png" alt="">
           <span>
              <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
              <p>12.12.2019</p>
           </span>
      </a>
  </section>
      <hr class="welldone">
      <section class="resimler">
          <a href="" class="samka">
          <img src="images/Rectangle 2471.png" alt="">
               <span>
                  <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
                  <p>12.12.2019</p>
               </span>
          </a>
      </section>
      <hr class="welldone">
  <section class="resimler">
      <a href="" class="samka">
      <img src="images/Rectangle 2471.png" alt="">
           <span>
              <h1>Re-evaluating the modal mix for Pharmaceutical supply . . .</h1>
              <p>12.12.2019</p>
           </span>
      </a>
  </section>
  
  
  <div class="anketolog">
  
      <div class="akero">
  
      <div class="yumrular">
          <img src="images/Group 188.png" alt="">
      </div>
      <span>
          <p style="margin: 0;"> <a href="tel:+99412 418 06 18">+99412 418 06 18</a> </p>
          <p style="margin: 0;"> <a href="tel:+99450 418 18 00">+99450 418 18 00 </a> </p>
      </span>
  
      </div>
  
      <hr>
       
      <div class="akero">
  
          <div class="yumrular">
              <img src="images/Group 202.png" alt="" >
          </div>
          <span style="width: 0%;">
              <a href="mailto:tibbikonsaltinq@gmail.com">tibbikonsaltinq@gmail.com</a>
              <a href="mailto:uptodate.az@gmail.com">uptodate.az@gmail.com</a>
          </span>
      
          </div>
  
  
          <hr>
  
          <div class="akero">
  
              <div class="yumrular">
                  <img src="images/Group 10520.png" alt="">
              </div>
              <span style="width: 64%;">
                  <p style="margin: 0;"> <a href="#">World Business Center 
                      Səməd Vurğun küç. 43</a> </p>
              </span>
          
              </div>
  
  </div>
  
  
  
  </div>


    </section>
    <section class="apidaa">
      
      
      <!-- Table -->
      <div class="form-table-container">
        <div class="form-container">
          <form id="myForm" class="my-3">
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="lastName">Presenter</label>

<select id="presenter" class="form-control" name="presenter">
  <option value="yes">Yes</option>
  <option value="no">No</option>
</select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="firstNameInit">First Name İnit</label>
                <input type="text" class="form-control" id="firstNameInit" name="firstNameInit" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="affiliation">Affiliation</label>
                <input type="text" class="form-control" id="affiliation" name="affiliation" required>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" required>
              </div>
              <div class="col-md-4 mb-3">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" name="country" required>
              </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="addRow()">Add Author</button>
          </form>
        </div>
        <table id="myTable">
          <thead>
            <tr>
              <th>Presenter</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
              <th>First Name İnit</th>
              <th>Affilition</th>
              <th>City</th>
              <th>Country</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="myTableBody">
          </tbody>
        </table>
      </div>



    

                 

                </section>

 

       <script src="{% static 'js/app.js' %}">

       </script>
       <script src="https://cdn02.jotfor.ms/static/prototype.forms.js?3.3.41113" type="text/javascript"></script>
       <script src="https://cdn03.jotfor.ms/static/jotform.forms.js?3.3.41113" type="text/javascript"></script>
       <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?render=explicit&amp;onload=recaptchaLoadedinput_29"></script>
</body>
{%endblock%}
</html>


