{% extends 'header.html' %}
{% block content %}
{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/changing.css' %}">
    <title>Document</title>
 </head>
 <body>
   
<div class="container p-5">
    
<h1>Parolu yeniləmək</h1>
{% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}
    <form class="w-50" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="current_password">Hazırkı parol</label>
            <input type="password" class="form-control" id="current_password" name="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">Yeni parol</label>
            <input type="password" class="form-control pass" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-primary ">Yenilə</button>
    </form>
 
</div>
{% endblock content %}





 </body>
 </html>
 
