{% extends 'header.html' %}
{% block content %}
{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/update.css' %}">
    <title>Document</title>
 </head>
 <body>
  
<style>
    p{
        text-align: center;
        margin: 10px 0;

    }
    p a{
        text-decoration: none;
        color: blue;
    }
</style>
<main class="container p-5">
   
    <section class="row justify-content-center">
        <form method="post" action="{%    url 'updateProfile'  %}" class="col-10 col-md-6 border p-4">
            {% csrf_token %}
            <div class="form-field mb-2 d-flex mb-5 justify-content-center">
                <h1 class="text-primary">Profilə düzəliş et</h1>
            </div>
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Ad: </label>
                <input class="form-control" type="text" name="fullname" value="{{currentUser.fullname}}"/>
            </div>
            
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Doğum tarixi: </label>
                <input class="form-control" type="date" name="birthdate" value="{{currentUser.birthdate}}"/>
            </div>
            {{currentUser.birthdate}}
            
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Şəxsiyyət vəsiqəsi nömrəsi: </label>
                <input class="form-control" type="number" name="idcard" value="{{currentUser.idcard}}"/>
            </div>
            
            <!-- <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Speciality: </label>
                <input class="form-control" type="text" name="speciality" value="{{currentUser.speciality}}"/>
            </div> -->
            
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Telefon nömrəsi: </label>
                <input class="form-control" type="number" name="phone" value="{{currentUser.phone}}"/>
            </div>
<!--             
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label small text-secondary">Workplace: </label>
                <input class="form-control" type="text" name="workplace" value="{{currentUser.workplace}}"/>
            </div> -->
<!--             
            <div class="form-field mb-1 d-flex flex-column">
                <label class="form-label">Type: </label>
                <input class="form-control" type="text" name="type" value="{{currentUser.type}}"/>
            </div> -->

            <button type="submit" class="btn btn-primary w-100 mt-5 update">Yenilə</button>
            <p>Parolunuzu dəyişmək <a href="{% url 'change_password'%}">istəyirsiniz?</a> </p> 
            {% if error_message %}
              <div class="p-2 alert alert-danger my-3">
                  {{error_message}}
              </div> 
            {% endif %}
          </form>  
           
    </section>    
</main>
{% endblock content %}
 </body>
 </html>
