{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/deletedraft.css' %}">
    <title>Document</title>
</head>
<body>
    <h5>Silmək istədiyinizə əminsiniz? {{draft}}</h5>
<form method="POST" action="{% url 'delete_draft' draft.id %}">
    {% csrf_token %}
    <a href="{% url 'draft_list' %}"> Ləğv et</a>
    <input type="submit" name="confirm" value="Sil">
</form>


</body>
</html>