{% extends 'header.html'%}
<!DOCTYPE html>
{%block content %}
{%load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    <title>Fotolar</title>
    <link rel="stylesheet" href="{% static 'css/fotolar.css' %}">
</head>
<body>

  
   

    <section class="lastg">

        <span class="words">

            {% for i in menue|slice:1 %}
            <a href="{% url 'home' %}">{{i.menue_1}}</a>
              <i class="fa-solid fa-angle-right"></i>
              <a href="{%url 'about' %}">{{i.menue_15}}</a>
              <i class="fa-solid fa-angle-right"></i>
              {%endfor%}
        </span>
            <hr>
        
        </section>

    <article class="gangom">

        <section class="ich">
    
        <span class="heber">
            <h1>Foto</h1>
    
        </span>

        </section>


      
    <article class="allofthis">
        {% for i in xaber %} 
        <section class="ortateref">
               
        <div class="cardlarBolmesi">
                
            <span class="digital">
                <a href="/fotopost/{{i.id}}"><img src="{{i.image.url}}" alt="bosh"></a>
                <span class="xettler">
                <div class="blue"></div><div class="gren"></div>
                </span>
                <div class="xettik">
                <!-- <i class="fa-sharp fa-solid fa-calendar-days"></i><p>{{i.date}}</p> -->
                
                </div>
                <p>{{i.date_title}}</p>
                </span>

             
      
        
                
        
        
        
        </div>
              
    </section>
    {% endfor %}   
       </article>
   
        
 
    

        <script>
            function myFunction() {
document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
if (!event.target.matches('.dropbtn')) {
var dropdowns = document.getElementsByClassName("dropdown-content");
var i;
for (i = 0; i < dropdowns.length; i++) {
  var openDropdown = dropdowns[i];
  if (openDropdown.classList.contains('show')) {
    openDropdown.classList.remove('show');
  }
}
}
}
   </script>


</body>
{% endblock %}
</html>